/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/*VARIABLES CSS*/
:root {
    --header-height: 3.5rem;

    /* Colors */
    --hue: 250;
    --first-color: hsl(var(--hue), 69%, 61%);
    --first-color-second: hsl(var(--hue), 69%, 61%);
    --first-color-alt: hsl(var(--hue), 57%, 53%);
    --first-color-lighter: hsl(var(--hue), 92%, 85%);
    --title-color: hsl(var(--hue), 8%, 15%);
    --text-color: hsl(var(--hue), 8%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 65%);
    --input-color: hsl(var(--hue), 70%, 96%);
    --body-color: hsl(var(--hue), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue), 12%, 80%);

    /* Font and Typography */
    --body-font: 'Outfit', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Variables Dark Theme */
[data-theme="dark"] {
    --first-color-second: hsl(var(--hue), 30%, 8%);
    --title-color: hsl(var(--hue), 8%, 95%);
    --text-color: hsl(var(--hue), 8%, 75%);
    --input-color: hsl(var(--hue), 29%, 16%);
    --body-color: hsl(var(--hue), 28%, 12%);
    --container-color: hsl(var(--hue), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue), 12%, 36%);
}

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
    /* For theme switch */
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}

/* NAV */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

/* Show Menu */
.show-menu {
    bottom: 0;
}

/* Active Link */
.active-link {
    color: var(--first-color);
}

/* Change Theme Button */
.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/* HOME */
.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__blob {
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img {
    width: 170px;
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}

.home__scroll {
    display: none;
}

.home__scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover {
    transform: translateY(.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}

/* BUTTONS */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

.button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
    margin-left: var(--mb-1);
}

.button--ghost:hover {
    background-color: var(--first-color);
    color: #FFF;
}


/* ABOUT */
.about__img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    display: block;
    text-align: center;
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__buttons {
    display: flex;
    justify-content: center;
}

/* SKILLS */
.skills__container {
    row-gap: 0;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow {
    margin-left: auto;
    transition: .4s;
}

.skills__list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
    overflow: hidden;
    height: 0;
    /* Default closed state controlled by JS toggling height/classes usually, but we will use height auto on open */
    transition: all 0.3s;
}

.skills__open .skills__list {
    height: auto;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills__bar {
    background-color: var(--first-color-lighter);
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.skills__html {
    width: 90%;
}

.skills__css {
    width: 80%;
}

.skills__js {
    width: 60%;
}

.skills__react {
    width: 85%;
}

.skills__figma {
    width: 90%;
}

.skills__sketch {
    width: 85%;
}

.skills__photoshop {
    width: 85%;
}

/* QUALIFICATION (Skip for brevity, focusing on core requirements) */

/* PROJECTS */
.projects__container {
    padding-top: 1rem;
}

.projects__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: var(--mb-2);
}

.project__item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
    transition: .3s;
}

.project__item:hover {
    background-color: var(--first-color);
    color: #FFF;
}

.active-project {
    background-color: var(--first-color);
    color: #FFF;
}

.project__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
    /* Glassmorphism attempt for dark mode */
}

[data-theme="dark"] .project__card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.project__img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.project__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.project__subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1);
    color: var(--text-color-light);
}

.project__button {
    font-size: var(--small-font-size);
}

/* Hide projects when filtering */
.project__card.hide {
    display: none;
}


/* CONTACT */
.contact__container {
    row-gap: 3rem;
}

.contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content {
    background-color: var(--input-color);
    border-radius: 1rem;
    padding: 1.5rem;
}

.contact__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    margin-bottom: var(--mb-1);
}

[data-theme="dark"] .contact__card {
    background: rgba(255, 255, 255, 0.05);
}

.contact__card-icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-data {
    font-size: var(--small-font-size);
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact__button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.contact__form-div {
    margin-bottom: var(--mb-2);
}

.contact__form-tag {
    display: block;
    margin-bottom: var(--mb-0-5);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
}

.contact__form-input {
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 1.5rem;
    border-radius: .5rem;
    border: 1px solid transparent;
}

[data-theme="dark"] .contact__form-input {
    background-color: rgba(255, 255, 255, 0.05);
}

.contact__form-input:focus {
    border-color: var(--first-color);
}

.contact__form-area {
    height: 11rem;
}

.contact__form-area textarea {
    resize: none;
}

/* FOOTER */
.footer {
    background-color: var(--first-color);
    padding: 2rem 0 3rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
    color: #FFF;
}

.footer__subtitle {
    font-size: var(--small-font-size);
    color: #FFF;
    margin-bottom: var(--mb-2);
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link {
    color: #FFF;
}

.footer__link:hover {
    color: var(--first-color-lighter);
}

.footer__social {
    display: flex;
    column-gap: 1.25rem;
    margin-top: var(--mb-2);
}

.footer__social-link {
    font-size: 1.25rem;
    color: #FFF;
}

.footer__social-link:hover {
    color: var(--first-color-lighter);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: #d9d9d9;
    text-align: center;
    font-size: var(--smaller-font-size);
}

/* SCROLL UP */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #FFF;
}

.show-scroll {
    bottom: 5rem;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: .6rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/* MEDIA QUERIES */
/* Small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }

    .home__blob {
        width: 180px;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }
}

/* Medium devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }

    .about__container,
    .skills__container,
    .projects__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob {
        width: 270px;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__description {
        text-align: initial;
    }

    .about__info {
        justify-content: space-between;
    }

    .about__buttons {
        justify-content: initial;
    }

    .projects__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .project__img {
        width: 100%;
    }

    .contact__form {
        width: 460px;
    }

    .contact__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 6rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__socials {
        justify-self: flex-end;
    }

    .footer__copy {
        margin-top: 4.5rem;
    }
}

/* Large devices */
@media screen and (min-width: 1024px) {

    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .home__blob {
        width: 320px;
    }

    .home__social {
        transform: translateX(-6rem);
    }

    .projects__container {
        gap: 3rem;
    }

    .contact__form {
        width: 500px;
    }
}